/* styles.css */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-color); /* Definir el color real */
    transition: 0.3s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider-indicator-color); /* Definir el color real */
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background: var(--slider-checked-color); /* Definir el color real */
  }
  
  input:focus-visible + .slider {
    box-shadow: var(--slider-focus); /* Definir el estilo real */
  }
  
  input:checked + .slider:before {
    transform: translateX(30px);
  }
  